
.question {
    margin: 4px;
    background: #FFFFFF;
    display: inline-block;
    text-align: left;
    color: #4F4F4F;
}

.question > * {
    margin: 4px;
    background: #FFFFFF;
}

.question > .icon {
    float: left;
}

.question > .info {
    float: left;
}

.question > .likeandcomment {
    float: right;
}

.question > . {
    display: block;
}