
.question {
    margin: 4px;
    background: #FFFFFF;
    display: inline-block;
    color: #4F4F4F;
    width: 100%;
}

.question > div {
    margin: auto;
    max-width: 495px;
    text-align: left;
}

.question > div > * {
    margin: 4px;
    background: #FFFFFF;
}

.question > div > .icon {
    float: left;
}

.question > div > .info {
    float: left;
}

.question > div > .likeandcomment {
    float: right;
}

.question > div > . {
    display: block;
}