
.question {
    margin: 4px;
    background: #FFFFFF;
    display: inline-block;
    color: #4F4F4F;
    width: 100%;
}

.question > div {
    margin: auto;
    max-width: 495px;
    text-align: left;
    font-size: 0px;
}

.question a {
    color: #4F4F4F;
}

.question > div * {
    margin: 4px;
    background: #FFFFFF;
}

.question span {
    display: block;
}

.question span > * {
    display: inline;
}

.question .message {
    font-size: 14px;
}

.question .icon {
    float: left;
}

.question .info {
    float: left;
    font-size: 14px;
}

.question .likeandcomment {
    float: right;
    font-size: 14px;
}