<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/QA_category.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/js/get_args.js"></script>
    <script src="/js/category.js"></script>
    <script src="/js/question.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/fix_wrapper_height.js"></script>
</head>
<body>
<nav><img src=""><img src="/img/top.png" height="60" width="161"/></nav>
<div id="content_wrapper">
    <div id="sidebar_left">
        <div id="category">
            <div class="category" style="font-size: 20px;text-align: center"><span>カテゴリ一覧</span><img src="/img/next.png"/></div>
            <div class="category" v-for="category in categories">
                <span style="width: 8px" :style="category.color"></span>
                <img :src="category.img_source">
                <span class="category_name">{{category.category}}</span>
            </div>
        </div>
    </div>

    <div id="sidebar_right">
        <aside><img src="/img/QA_baner.png" height="400" width="200"/></aside>
    </div>
    <div id="main">
        <section id="questions">
            <div class="question">
                <span>認知症に関する質問</span>
                <span>認知症は、老化による物忘れやぼけと勘違いされやすいですが、実際の症状は全く異なります。記憶障害だけでなく、徘徊や暴力など人によって症状は様々であり、認知症についてしっかりと理解しないとご家族の方の介護負担が大きくなってしまいます。多くの方がかかっている認知症とはなにか、認知症の方を介護する上で大切なことについて解説しています。</span>
            </div>
            <div class="question" v-for="{category,message,age,name,target,like,comment} in questions">
                <span class="tag">{{category}}</span>
                <div class="message">{{message}}</div>
                <img src="/img/icon.png" class="icon">
                <div class="info">
                    <div class="name">{{name}}{{age}}才</div>
                    <div class="target">{{target}}</div>
                </div>
                <span class="likeandcomment">
                    <img src="/img/like.png"><span class="like">{{like}}</span>
                    <img src="/img/comment.png"><span class="comment">{{comment}}</span>
                </span>
            </div>
            <div class="page center">
                <img class="number" src="/img/prev.png" height="16" width="15"/>
                <span class="number" v-for="index in indexes" v-on:click="change(index)">
                    {{index}}
                </span>
                <img class="number" src="/img/next.png" height="16" width="15"/>
            </div>
        </section>
    </div>
</div>
<footer id="footer">
    <div>
        <span>初めての介護について</span>
        <span>カテゴリ一覧</span>
    </div>
    <ul>
        <li v-for="{name} in categories1"><a>{{name}}</a></li>
    </ul>
    <ul>
        <li v-for="{name} in categories2"><a>{{name}}</a></li>
    </ul>
    <ul>
        <li v-for="{name} in categories3"><a>{{name}}</a></li>
    </ul>
    <div class="clear center">
        ©︎2018 はじめての介護
    </div>
</footer>
</body>
</html>